<header id="main-header">
  <div class="links-container">
    <div class="links">
      <div class="mail">
        <a href="mailto:shubham.s@tuta.io" class="mail-link"
          ><i class="far fa-envelope"></i>shubham.s@tuta.io
          <i class="fas fa-link"></i
        ></a>
      </div>
      <a href=""><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="container">
    <h1>Curriculum Vitae</h1>
    <h2>Shubham Shukla</h2>
  </div>
  
  <div class="links-container">
    <div class="links">
      <div class="mail">
        <a href="mailto:shubham.s@tuta.io" class="mail-link"
          ><i class="far fa-envelope"></i>shubham.s@tuta.io
          <i class="fas fa-link"></i
        ></a>
      </div>
      <a href=""><i class="fab fa-github"></i></a>
    </div>
  </div>
</header>
