#main-header {
  background: var(--secondary-color);
  padding: 2rem 0 4rem;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2rem;
}

app-links:last-child {
  display: none;
}

@media (max-width: 600px) {
  #main-header {
    padding: 1.6rem 0 0.2rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }

  app-links:first-child {
    display: none;
  }
  app-links:last-child {
    display: block;
  }
}
