.links-container {
  width: 100%;
  padding: 0 0 1.2rem;
  margin-bottom: 1rem;

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .links {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    .mail-link {
      text-decoration: none;
      font-size: 1.2rem;
      color: #b3ffe6;

      .fa-envelope,
      .fa-link {
        color: #f4f4f4;
        font-size: 1.1rem;
        margin-right: 6px;
      }

      .fa-link {
        font-size: 0.9rem;
      }
    }

    .mail-link:hover {
      color: #66ff99;
    }

    .fa-github,
    .fa-download {
      color: #f4f4f4;
      font-size: 1.4rem;
    }

    .fa-download {
      font-size: 1.2rem;
    }

  }
}

@media (max-width: 600px) {
  .links-container {
    padding: 1.4rem 0 0.8rem;
    display: block;
    margin-bottom: 0;

    .links {
      float: none;
      text-align: center;

      .mail-link {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-link {
          padding: 0 4px;
        }
      }
    }
  }
}