<div class="links-container">
  <div class="container">
    <div class="links">
      <div class="mail">
        <a href="mailto:shubham.s@tuta.io" class="mail-link"><i class="far fa-envelope"></i>shubham.s@tuta.io
          <i class="fas fa-link"></i></a>
      </div>

      <a href="https://github.com/ShubSpyder" target="_blank">
        <div class="tooltip">
          <i class="fab fa-github"></i>
          <span class="tooltiptext">Github</span>
        </div>
      </a>

      <a href="assets/files/resume.pdf" download="shubham_resume.pdf">
        <div class="tooltip">
          <i class="fas fa-download"></i>
          <span class="tooltiptext">view cv as pdf</span>
        </div>
      </a>

    </div>
  </div>
</div>