/* You can add global styles to this file, and also import other style files */
@import url('./assets/fontawesome/css/all.css');

:root {
  --primary-color: #7f8688;
  --secondary-color: #929d9e;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 "Arial", sans-serif;
  background: var(--primary-color);
  color: #fff;
  padding-bottom: 50px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}
